<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter-Strike</title>
    <!-- Points to static/css/csnet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/downloads.css') }}">
    <link href="{{ url_for('static', filename='img/feather-red.png') }}" rel="icon" type="image/x-icon"/>
</head>

<body>

<div class="pic text-center">
    <script src="{{ url_for('static', filename='js/imgrot.js') }}"></script>
    <noscript>
        <img src="{{ url_for('static', filename='img/left.gif') }}" alt="Header Image">
    </noscript>
</div>

<p></p>

<table class="header-bg" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="header-mid" colspan="2" width="50%" height="22">
            &nbsp;<a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Screenshots</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a>
        </td>
        <td class="header-mid" width="50%" align="right">
            <a href="https://lain.onl/">Lain.onl</a>
        </td>
    </tr>
</table>

<table class="header-bg" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="header-links" width="100%">
            <a href="https://lain.onl/"><img alt="Main" border="0" src="{{ url_for('static', filename='img/MainBannerTest.gif') }}"/></a>
        </td>
    </tr>
    <tr>
        <td class="header-mid divider-text text-center" width="100%" height="23">
            <b>We are all connected</b>
        </td>
    </tr>
</table>

<p></p>

<div class="text-center">
    <br>
    <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td height="60">
                <img alt="" src="{{ url_for('static', filename='img/left.gif') }}"/>
                
                <a href="https://archmania.lain.onl/" id="AdBannerLink" target="_blank"><img alt="" border="0" height="60px" id="AdBannerImg" src="{{ url_for('static', filename='img/ads/ArchMainiaAD.gif') }}" width="auto"/></a>
                
                <img alt="" src="{{ url_for('static', filename='img/right.gif') }}"/>
                
                <a href="https://Neighbrthood.lain.onl">
                
                <img alt="Neighbrthood" border="0" src="{{ url_for('static', filename='img/Neighbrthood.png') }}"/>
                </a>
            </td>
        </tr>
    </table>
    <p></p>
</div>

<p></p>

<table border="0" cellpadding="4" cellspacing="0" width="98%" align="center">
    <tr>
        <td valign="top" align="center" width="140">
            <table width="100" border="0" cellpadding="2" cellspacing="0">
                <tr>
                    <td valign="top">
                        <br><br><br><br>
                        <div class="newshead">[Site Navigation]</div>

                            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                        
                        <div class="news">
                            <b>&gt;</b> <a href="/">Home</a><br/>
                            <b>&gt;</b> <a href="downloads">Downloads</a><br/>
                            <b>&gt;</b> <a href="Cstrike:S">CStrike: Source</a><br/>
                            <b>&gt;</b> <a href="entries">Guestbook</a><br/>
                        </div>

                        <p></p>
                            <div class="newshead">[Hosted Sites]</div>
                            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                            <div class="news"><a href="https://space.lain.onl">My Part of the Internet</a></div>
                            <span class="divider-text">Small Rng Website I build u can explore.<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://files.lain.onl/">Files</a></div>
                            <span class="divider-text">Fileserver for varius stuff.<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://archmania.lain.onl/">Arch Mania</a></div>
                            <span class="divider-text">A little rythem game build in Java.<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://music.lain.onl/">Music</a></div>
                            <span class="divider-text">Hosts Audio files to lissen to.<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://clips.lain.onl">Kiras Clips</a></div>
                            <span class="divider-text">A platform to upload clips! (Closed Beta).<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://cstrike2k.lain.onl">Cstrike2k</a></div>
                            <span class="divider-text">A Refrech of the originl Counter Strike Website.<br/>- - - - - - - - - - - - - -</span>
                            <div class="news"><a href="https://jelly.lain.onl">Jellyfin</a></div>
                            <span class="divider-text">A Jellyfin Server. (Closed)<br/>- - - - - - - - - - - - - -</span>

                    </td>
                </tr>
            </table>
        </td>
        <td valign="top" align="center" width="40">
            <br>
            <img src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40" height="1300" alt="">
        </td>

        <td valign="top" id="mid">
            <center>
                <div class="newshead">[Downloads]</div>
                <hr color="#313131" width="50%">
            
                <table width="90%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                        
                            <div class="news">
                                <font color="#ff1e1e" face="verdana,arial" size="4">
                                    
                                </font>
                            </div>
                        
                            <br>
                        
                            <table width="100%" border="0" cellpadding="4" cellspacing="2">
                            
                                <!-- Section Header -->
                                <tr>
                                    <th align="left" bgcolor="#ff1e1e" colspan="3">
                                        <font color="white" face="verdana,arial" size="2">
                                            <b>Png2Vtf</b>
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Description -->
                                <tr>
                                    <td bgcolor="#000000" colspan="3" style="border: #ff1e1e 1px solid">
                                        <font color="white" face="verdana,arial" size="1" >
                                            A silly little tool that automaticly converts Pngs in the same folder the Program is in into VTF files. These Files Are CS:S aka Source Sprays!
                                        </font>
                                    </td>
                                </tr>
                            
                                <!-- Column Headers -->
                                <tr>
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Download
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Mirror
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Size
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Reference Entry -->
                                <tr>
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="verdana,arial" size="2">
                                            <b><a href="#">png2vtf</a></b>
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            Lain.onl
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            18.6 MB
                                        </font>
                                    </td>
                                    
                                </tr>
                                                                <tr>
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="verdana,arial" size="2">
                                            <b><a href="#">png2vtf.exe</a></b>
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            Lain.onl
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            17 MB
                                        </font>
                                    </td>
                                    
                                </tr>
                            
                            </table>
                        
                            <br><br>

                            <table width="100%" border="0" cellpadding="4" cellspacing="2">
                            
                                <!-- Section Header -->
                                <tr>
                                    <th align="left" bgcolor="#ff1e1e" colspan="3">
                                        <font color="white" face="verdana,arial" size="2">
                                            <b>ArchMania</b>
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Description -->
                                <tr>
                                    <td bgcolor="#000000" colspan="3" style="border: #ff1e1e 1px solid">
                                        <font color="white" face="verdana,arial" size="1" >
                                            ArchMania is a silly little Rythem game i made for school its in V1 and build in Java. Its good to try out and the maps are based on OSU! maps!
                                        </font>
                                    </td>
                                </tr>
                            
                                <!-- Column Headers -->
                                <tr>
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Download
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Mirror
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Size
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Reference Entry -->
                                <tr>
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="verdana,arial" size="2">
                                            <b><a href="https://mega.nz/file/NU0VlYpR#G8uJUaJBxQjYZ53EVacZs2q2FU3uB0OhnDBp9-OJzK0">ArchMania-1.0.0-LinuxBin.zip</a></b>
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            Mega
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            163.4 MB
                                        </font>
                                    </td>
                                    
                                </tr>
                                                                <tr>
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="verdana,arial" size="2">
                                            <b><a href="#">ArchMania-1.0.0-WinBin.zip</a></b>
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            Mega
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            115.2 MB
                                        </font>
                                    </td>
                                    
                                </tr>
                            
                            </table>

                                                        <br><br>

                            <table width="100%" border="0" cellpadding="4" cellspacing="2">
                            
                                <!-- Section Header -->
                                <tr>
                                    <th align="left" bgcolor="#ff1e1e" colspan="3">
                                        <font color="white" face="verdana,arial" size="2">
                                            <b>CueCue</b>
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Description -->
                                <tr>
                                    <td bgcolor="#000000" colspan="3" style="border: #ff1e1e 1px solid">
                                        <font color="white" face="verdana,arial" size="1" >
                                           Its a simple bash script combining Cue files into one single disk for PSX using m3u.

                                            This works even if all your Roms are in one folder.

                                            The Roms have to be in a specific naming order: "MyRom (Disc 1).chd" "MyRom (Disc 2).chd" "MyRom (Disc X).chd"

                                            Then the Script will just auto detect them if your roms are named diffrently feel free to change the sctipt
                                        </font>
                                    </td>
                                </tr>
                            
                                <!-- Column Headers -->
                                <tr>
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Download
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Mirror
                                        </font>
                                    </th>
                                
                                    <th bgcolor="#ff1e1e">
                                        <font color="#ffffff" face="arial" size="2">
                                            Size
                                        </font>
                                    </th>
                                </tr>
                            
                                <!-- Reference Entry -->
                                <tr>
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="verdana,arial" size="2">
                                            <b><a href="https://github.com/AquaFrostByte/CueCue/blob/main/make_m3u.sh">ArchMania-1.0.0-LinuxBin.zip</a></b>
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            Github
                                        </font>
                                    </td>
                                
                                    <td align="center" bgcolor="#000000" style="border: #ff1e1e 1px solid">
                                        <font color="#ffffff" face="arial" size="2">
                                            0.8 MB
                                        </font>
                                    </td>
                            
                            </table>

                            <br><br>
                            <!-- Duplicate this entire table for another download section -->
                        
                        </td>
                    </tr>
                </table>
            </center>
        </td>

        <td valign="top" align="center" width="40">
            <br>
            <img src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40" height="1300" alt="">
        </td>

        <td valign="top" width="100" align="left">
            <div class="text-center"><img alt="Flash" id="DownloadImg" src="{{ url_for('static', filename='img/Emojies/foryou.png') }}"/></div>
            <div class="newshead">[Latest Files]</div>
                <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                <div class="news">
                <a href="downloads">png2vtf</a><br/>
                <span class="divider-text">A Program that turns PNG files into Source Sprays. (Linux)<br/>- - - - - - - - - - - - - -</span>
                </div><br/>
                <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                <div class="news">
                <a href="downloads">png2vtf.exe</a><br/>
                <span class="divider-text">A Program that turns PNG files into Source Sprays. (Windows)<br/>- - - - - - - - - - - - - -</span>
                </div><br/>
                <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                <div class="news">
                <a href="downloads">make_m3u.sh</a><br/>
                <span class="divider-text">A script to combine ps1 games into 1 Disc. (Linux)<br/>- - - - - - - - - - - - - -</span>
                </div><br/>
                <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                <div class="news">
                <a href="downloads">ArchMania-1.0.0-LinuxBin</a><br/>
                <span class="divider-text">Cool little rythem game. (Linux)<br/>- - - - - - - - - - - - - -</span>
                </div><br/>
                <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                <div class="news">
                <a href="downloads">ArchMania-1.0.1-WinBin</a><br/>
                <span class="divider-text">Cool little rythem game with fix for Win. (Windows)<br/>- - - - - - - - - - - - - -</span>
                </div><br/>
            <p></p>
            <table border="0" cellpadding="0" cellspacing="0" width="125" height="125">
                <tr>
                    <td><br/><div id="Friends"></div></td>
                </tr>
            </table> <p></p>
            <div class="newshead">[Network]</div>
            <span class="divider-text">- - - - - - - - - - - - -</span><br>
            <div class="news text-center">
                <br>
                <a href="https://missed.lain.onl"><img alt="Hosted By Missed" border="0" src="{{ url_for('static', filename='img/KAte.gif') }}"/></a><br/><br/>
                Missed Admin:<br/>
                aquafrostbyte<br/>
                <a href="mailto:cat@grisu.app">Aqua</a>
            </div>
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="footer-bg" width="100%">
<tr>
<td class="header-mid" height="22" width="100%">
             <a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Screenshots</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a> | - © 2026 : Lain.onl -- [html &amp; design by <a href="mailto:cat@grisu.app">Aqua</a>] [<a href="https://files.lain.onl/counter-strike.zip">CS Font</a>]
        </td>
</tr>
</table>

</body>

<script src="{{ url_for('static', filename='js/AdBanner.js') }}"></script>
<script src="{{ url_for('static', filename='js/Friends.js') }}"></script>
<script src="{{ url_for('static', filename='js/Title.js') }}"></script>

</html>