<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cry for everything</title>
<!-- Points to static/css/csnet.css -->
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='img/feather-red.png') }}" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="pic text-center">
<script src="{{ url_for('static', filename='js/imgrot.js') }}"></script>
<noscript>
<img alt="Header Image" src="{{ url_for('static', filename='img/left.gif') }}"/>
</noscript>
</div>
<p></p>
<table border="0" cellpadding="0" cellspacing="0" class="header-bg">
<tr>
<td class="header-mid" colspan="2" height="22" width="50%">
             <a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Projects</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a>
</td>
<td align="right" class="header-mid" width="50%">
<a href="https://www.lain.onl/">Lain.onl</a>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="header-bg">
<tr>
<td class="header-links" width="100%">
<a href="https://www.lain.onl/"><img alt="Main" border="0" src="{{ url_for('static', filename='img/MainBannerTest.gif') }}"/></a>
</td>
</tr>
<tr>
<td class="header-mid divider-text text-center" height="23" width="100%">
<b>A Counter-Terrorism Half-Life Modification</b>
</td>
</tr>
</table>
<p></p>
<div class="text-center">
<br/>
<table align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="60">
<img alt="" src="{{ url_for('static', filename='img/left.gif') }}"/>
<a href="https://archmania.lain.onl/" id="AdBannerLink" target="_blank"><img alt="" border="0" height="60px" id="AdBannerImg" src="{{ url_for('static', filename='img/ads/ArchMainiaAD.gif') }}" width="auto"/></a>
<img alt="" src="{{ url_for('static', filename='img/right.gif') }}"/>
<a href="https://Neighbrthood.lain.onl">
<img alt="Neighbrthood" border="0" src="{{ url_for('static', filename='img/Neighbrthood.png') }}"/>
</a>
</td>
</tr>
</table>
<p></p>
</div>
<p></p>
<table align="center" border="0" cellpadding="4" cellspacing="0" width="98%">
<tr>
<td align="center" valign="top" width="140">
<table border="0" cellpadding="2" cellspacing="0" width="140">
<tr>
<td valign="top">
<br/><br/><br/><br/>
<div class="newshead">[Site Navigation]</div>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<b>&gt;</b> <a href="/">Home</a><br/>
<b>&gt;</b> <a href="downloads">Downloads</a><br/>
<b>&gt;</b> <a href="Cstrike:S">CStrike: Source</a><br/>
</div>
<p></p>
<div class="newshead">[Hosted Sites]</div>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news"><a href="https://space.lain.onl">My Part of the Internet</a></div>
<span class="divider-text">Small Rng Website I build u can explore.<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://files.lain.onl/">Files</a></div>
<span class="divider-text">Fileserver for varius stuff.<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://archmania.lain.onl/">Arch Mania</a></div>
<span class="divider-text">A little rythem game build in Java.<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://music.lain.onl/">Music</a></div>
<span class="divider-text">Hosts Audio files to lissen to.<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://clips.lain.onl">Kiras Clips</a></div>
<span class="divider-text">A platform to upload clips! (Closed Beta).<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://cstrike2k.lain.onl">Cstrike2k</a></div>
<span class="divider-text">A Refrech of the originl Counter Strike Website.<br/>- - - - - - - - - - - - - -</span>
<div class="news"><a href="https://jelly.lain.onl">Jellyfin</a></div>
<span class="divider-text">A Jellyfin Server. (Closed)<br/>- - - - - - - - - - - - - -</span>
</td>
</tr>
</table>
</td>
<td align="center" valign="top" width="40">
<br/>
<img alt="" height="1300" src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40"/>
</td>
<td valign="top">
<br/><br/>
<a name="NewsItemID"></a>
<table class="news-container">
<tr>
<td>
<div class="newshead">Missed Network opening!</div>
<div class="news">
<a href="/static/img/News/MissedNet.gif" target="_blank"><img class="NewsImg" src="{{ url_for('static', filename='img/News/MissedNet.gif') }}"/></a><br/>    
<br/>I opened up Missed Network which will now be the Hosting name for all sites i host. This came mainly becuase I didnt want to connect lain.onl to everything.<br/>This comes from the Domain getting expensive so it maybe that i change them out which I would anounce befor it happens.<br/>For now Missed Network will be the default branding for everything I, aqua, host<br/><br/>
<br/>[<a href="mailto:cat@grisu.app">Aqua</a>]
                </div>
</td>
</tr>
</table>
<p></p>

<table class="news-container">
<tr>
<td>
<div class="newshead">New Version of Lain.onl!</div>
<div class="news">
                            Lain.onl V1 so to speak<br/><br/>
<a href="/static/img/News/oldLainonl.png" target="_blank"><img class="NewsImg" src="{{ url_for('static', filename='img/News/oldLainonl.png') }}"/></a><br/>

                            The old Launcher (Lain.onl) was a placeholder that i never changed out in the first place. <br/> This Site will finally replase it and will have room for all the futer ideas! <br/> This includes Porting all old links to this Site so they can still be easly found. <br/> I am not sure yet if this will fully replace ksts.lain.onl but it maybe will. It atleast has all needed functions for it. <br/> The original Template for this site is my restoration of the original <a href="https://cstrike2k.lain.onl/">Cstrike Website</a> which can be found on my <a href="https://www.github.com/aquafrostbyte"> Github </a>.
                             <br/>[<a href="mailto:cat@grisu.app">Aqua</a>]
                        </div>
</td>
</tr>
</table>
<div class="text-center news">
                [<a href="oldnews">News Archive</a>]
            </div>
<div class="text-center">
<br/>
<p></p>
<a href="https://missed.lain.onl"><img alt="Missed Network" border="0" src="{{ url_for('static', filename='img/KAte88x31.gif') }}" style="width: 100px;"/></a> <!--THis should not be clicked and can be changed if u want to add ur custom network i would suggest adding ur custom logo!!-->
</div>
</td>
<td align="center" valign="top" width="40">
<br/>
<img alt="" height="1300" src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40"/>
</td>
<td align="left" valign="top" width="140">
<div class="text-center"><img alt="Flash" id="DownloadImg" src="{{ url_for('static', filename='img/Emojies/foryou.png') }}"/></div>
<div class="newshead">[Latest Files]</div>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<a href="downloads">png2vtf</a><br/>
<span class="divider-text">A Program that turns PNG files into Source Sprays. (Linux)<br/>- - - - - - - - - - - - - -</span>
</div><br/>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<a href="downloads">png2vtf.exe</a><br/>
<span class="divider-text">A Program that turns PNG files into Source Sprays. (Windows)<br/>- - - - - - - - - - - - - -</span>
</div><br/>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<a href="downloads">make_m3u.sh</a><br/>
<span class="divider-text">A script to combine ps1 games into 1 Disc. (Linux)<br/>- - - - - - - - - - - - - -</span>
</div><br/>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<a href="downloads">ArchMania-1.0.0-LinuxBin</a><br/>
<span class="divider-text">Cool little rythem game. (Linux)<br/>- - - - - - - - - - - - - -</span>
</div><br/>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news">
<a href="downloads">ArchMania-1.0.1-WinBin</a><br/>
<span class="divider-text">Cool little rythem game with fix for Win. (Windows)<br/>- - - - - - - - - - - - - -</span>
</div><br/>
<p></p>
<table border="0" cellpadding="0" cellspacing="0" height="125" width="125">
<tr>
<td><br/><div id="Friends"></div></td>
</tr>
</table>
<p></p>
<div class="newshead">[Network]</div>
<span class="divider-text">- - - - - - - - - - - - -</span><br/>
<div class="news text-center">
<br/>
<a href="https://missed.lain.onl"><img alt="Hosted By Missed" border="0" src="{{ url_for('static', filename='img/KAte.gif') }}"/></a><br/><br/>
                CS IRC:<br/>
                #counterstrike<br/>
                Gamesnet
            </div>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="footer-bg" width="100%">
<tr>
<td class="header-mid" height="22" width="100%">
             <a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Screenshots</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a> | - © 2026 : Lain.onl -- [html &amp; design by <a href="mailto:cat@grisu.app">Aqua</a>] [<a href="https://files.lain.onl/counter-strike.zip">CS Font</a>]
        </td>
</tr>
</table>
</body>
<script src="{{ url_for('static', filename='js/AdBanner.js') }}"></script>
<script src="{{ url_for('static', filename='js/Friends.js') }}"></script>
<script src="{{ url_for('static', filename='js/Title.js') }}"></script>
</html>