<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cry for everything</title>
<!-- Points to static/css/csnet.css -->
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='img/feather-red.png') }}" rel="icon" type="image/x-icon"/>
</head>

<body>

<div class="pic text-center">
    <script src="{{ url_for('static', filename='js/imgrot.js') }}"></script>
    <noscript>
        <img src="{{ url_for('static', filename='img/left.gif') }}" alt="Header Image">
    </noscript>
</div>

<p></p>

<table class="header-bg" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="header-mid" colspan="2" width="50%" height="22">
            &nbsp;<a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Screenshots</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a>
        </td>
        <td class="header-mid" width="50%" align="right">
            <a href="https://lain.onl/">Lain.onl</a>
        </td>
    </tr>
</table>

<table class="header-bg" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="header-links" width="100%">
            <a href="https://lain.onl/"><img alt="Main" border="0" src="{{ url_for('static', filename='img/MainBannerTest.gif') }}"/></a>
        </td>
    </tr>
    <tr>
        <td class="header-mid divider-text text-center" width="100%" height="23">
            <b>We are all connected</b>
        </td>
    </tr>
</table>

<p></p>

<div class="text-center">
    <br>
    <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td height="60">
                <img src="{{ url_for('static', filename='img/left.gif') }}" alt="">
                
                <a id="AdBannerLink" href="https://archmania.lain.onl/" target="_blank"><img id="AdBannerImg" src="{{ url_for('static', filename='img/ads/ArchMainiaAD.gif') }}" height="60px" width="auto" border="0" alt=""></a>

                <img src="{{ url_for('static', filename='img/right.gif') }}" alt="">
                <a href="https://Neighbrthood.lain.onl">
                    <img alt="Neighbrthood" border="0" src="{{ url_for('static', filename='img/Neighbrthood.png') }}"/>
                </a>
            </td>
        </tr>
    </table>
    <p></p>
</div>

<p></p>

<table border="0" cellpadding="4" cellspacing="0" width="98%" align="center">
    <tr>
        <td valign="top" align="center" width="140">
            <table width="100" border="0" cellpadding="2" cellspacing="0">
                <tr>
                    <td valign="top">
                        <br><br><br><br>
                        <div class="newshead">[Site Navigation]</div>
                        <span class="divider-text">- - - - - - - - - - - - -</span><br>

                        <div class="news">
                            <b>&gt;</b> <a href="/">Home</a><br/>
                            <b>&gt;</b> <a href="downloads">Downloads</a><br/>
                            <b>&gt;</b> <a href="Cstrike:S">CStrike: Source</a><br/>
                            <b>&gt;</b> <a href="entries">Guestbook</a><br/>
                        </div>

                        <p></p>
                        <div class="newshead">[Hosted Sites]</div>
                        <span class="divider-text">- - - - - - - - - - - - -</span><br/>
                        <div class="news"><a href="https://space.lain.onl">My Part of the Internet</a></div>
                        <span class="divider-text">Small Rng Website I build u can explore.<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://files.lain.onl/">Files</a></div>
                        <span class="divider-text">Fileserver for varius stuff.<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://archmania.lain.onl/">Arch Mania</a></div>
                        <span class="divider-text">A little rythem game build in Java.<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://music.lain.onl/">Music</a></div>
                        <span class="divider-text">Hosts Audio files to lissen to.<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://clips.lain.onl">Kiras Clips</a></div>
                        <span class="divider-text">A platform to upload clips! (Closed Beta).<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://cstrike2k.lain.onl">Cstrike2k</a></div>
                        <span class="divider-text">A Refrech of the originl Counter Strike Website.<br/>- - - - - - - - - - - - - -</span>
                        <div class="news"><a href="https://jelly.lain.onl">Jellyfin</a></div>
                        <span class="divider-text">A Jellyfin Server. (Closed)<br/>- - - - - - - - - - - - - -</span>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top" align="center" width="40">
            <br>
            <img src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40" height="1300" alt="">
        </td>

        <td valign="top" id="mid">
            <center>
                <!--U can do anything here if its the About page or so on there all pretty much the same i would recommend to look at the Frontend folder and look how the orginal site did serten stuff!-->
                <div class="newshead">[Under Construction!!]</div>
                <p>This Part is still under Construction.</p>
            </center>
        </td>

        <td valign="top" align="center" width="40">
            <br>
            <img src="{{ url_for('static', filename='img/col_wor.gif') }}" width="40" height="1300" alt="">
        </td>

        <td valign="top" width="100" align="left">
            <div class="text-center"><img alt="Flash" id="DownloadImg" src="{{ url_for('static', filename='img/Emojies/foryou.png') }}"/></div>
            <div class="newshead">[Latest Files]</div>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news">
            <a href="downloads">png2vtf</a><br/>
            <span class="divider-text">A Program that turns PNG files into Source Sprays. (Linux)<br/>- - - - - - - - - - - - - -</span>
            </div><br/>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news">
            <a href="downloads">png2vtf.exe</a><br/>
            <span class="divider-text">A Program that turns PNG files into Source Sprays. (Windows)<br/>- - - - - - - - - - - - - -</span>
            </div><br/>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news">
            <a href="downloads">make_m3u.sh</a><br/>
            <span class="divider-text">A script to combine ps1 games into 1 Disc. (Linux)<br/>- - - - - - - - - - - - - -</span>
            </div><br/>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news">
            <a href="downloads">ArchMania-1.0.0-LinuxBin</a><br/>
            <span class="divider-text">Cool little rythem game. (Linux)<br/>- - - - - - - - - - - - - -</span>
            </div><br/>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news">
            <a href="downloads">ArchMania-1.0.1-WinBin</a><br/>
            <span class="divider-text">Cool little rythem game with fix for Win. (Windows)<br/>- - - - - - - - - - - - - -</span>
            </div><br/>

            <p></p>
            <table border="0" cellpadding="0" cellspacing="0" width="125" height="125">
                <tr>
                <td><br/><div id="Friends"></div></td>
                </tr>
            </table>

            <p></p>
            <div class="newshead">[Network]</div>
            <span class="divider-text">- - - - - - - - - - - - -</span><br/>
            <div class="news text-center">
            <br/>
            <a href="https://missed.lain.onl"><img alt="Hosted By Missed" border="0" src="{{ url_for('static', filename='img/KAte.gif') }}"/></a><br/><br/>
                Missed Admin:<br/>
                aquafrostbyte<br/>
                <a href="mailto:cat@grisu.app">Aqua</a>
            </div>
        </td>
    </tr>
</table>

<table class="footer-bg" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="header-mid" height="22" width="100%">
             <a href="/">Main</a> |
            <a href="template">About</a> |
            <a href="template">Screenshots</a> |
            <a href="template">Forums</a> |
            <a href="downloads">Downloads</a> | - © 2026 : Lain.onl -- [html &amp; design by <a href="mailto:cat@grisu.app">Aqua</a>] [<a href="https://files.lain.onl/counter-strike.zip">CS Font</a>]
        </td>
    </tr>
</table>

</body>

<script src="{{ url_for('static', filename='js/AdBanner.js') }}"></script>
<script src="{{ url_for('static', filename='js/Friends.js') }}"></script>
<script src="{{ url_for('static', filename='js/Title.js') }}"></script>
</html>
